In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import timedelta, date
import datetime
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [57]:
all_test = pd.read_csv("all_test.csv")

In [6]:
all_test.Unit.nunique()

85

In [7]:
176+48

224

In [10]:
df_user  = all_test[all_test.Unit < 224].copy().reset_index(drop=True)

In [11]:
df_user.Unit.nunique()

48

In [17]:
df_user.head()

,Unit,Timestep,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,176,1,42.0003,0.8400,100.0,445.00,549.37,1345.94,1128.55,3.91,...,130.69,2387.95,8082.22,9.3796,0.02,331,2212,100.00,10.76,6.3382
1,176,2,0.0021,0.0000,100.0,518.67,642.25,1583.77,1402.43,14.62,...,522.14,2388.12,8138.43,8.4156,0.03,394,2388,100.00,39.06,23.3051
2,176,3,25.0002,0.6212,60.0,462.54,537.03,1265.74,1043.04,7.05,...,164.50,2028.26,7874.99,10.8821,0.02,306,1915,84.93,14.41,8.7017
3,176,4,41.9994,0.8400,100.0,445.00,549.93,1350.62,1131.21,3.91,...,129.95,2387.97,8090.01,9.3628,0.02,330,2212,100.00,10.49,6.2807
4,176,5,34.9998,0.8400,100.0,449.44,555.71,1371.53,1130.00,5.48,...,183.04,2388.04,8071.90,9.2974,0.02,334,2223,100.00,14.82,8.9769

In [21]:
test = df_user[df_user.Unit == 176].copy()

In [29]:
vl.mean()

196.25

In [30]:
vl.min()

133

In [31]:
vl.max()

297

In [22]:
test

,Unit,Timestep,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,176,1,42.0003,0.8400,100.0,445.00,549.37,1345.94,1128.55,3.91,...,130.69,2387.95,8082.22,9.3796,0.02,331,2212,100.00,10.76,6.3382
1,176,2,0.0021,0.0000,100.0,518.67,642.25,1583.77,1402.43,14.62,...,522.14,2388.12,8138.43,8.4156,0.03,394,2388,100.00,39.06,23.3051
2,176,3,25.0002,0.6212,60.0,462.54,537.03,1265.74,1043.04,7.05,...,164.50,2028.26,7874.99,10.8821,0.02,306,1915,84.93,14.41,8.7017
3,176,4,41.9994,0.8400,100.0,445.00,549.93,1350.62,1131.21,3.91,...,129.95,2387.97,8090.01,9.3628,0.02,330,2212,100.00,10.49,6.2807
4,176,5,34.9998,0.8400,100.0,449.44,555.71,1371.53,1130.00,5.48,...,183.04,2388.04,8071.90,9.2974,0.02,334,2223,100.00,14.82,8.9769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,176,160,25.0059,0.6211,60.0,462.54,536.92,1273.82,1065.00,7.05,...,164.33,2027.93,7866.75,10.9904,0.02,309,1915,84.93,14.08,8.4350
160,176,161,34.9999,0.8418,100.0,449.44,556.61,1373.99,1144.87,5.48,...,182.77,2387.80,8051.53,9.4138,0.02,335,2223,100.00,14.66,8.8144
161,176,162,42.0011,0.8411,100.0,445.00,550.93,1362.63,1140.96,3.91,...,129.86,2387.52,8066.82,9.4718,0.02,333,2212,100.00,10.29,6.3152
162,176,163,35.0034,0.8400,100.0,449.44,556.16,1366.74,1140.67,5.48,...,182.32,2387.83,8051.21,9.4254,0.02,336,2223,100.00,14.83,8.8982
163,176,164,20.0009,0.7000,100.0,491.19,608.38,1496.41,1270.39,9.35,...,313.80,2388.20,8054.65,9.3429,0.03,368,2324,100.00,24.28,14.5000

In [53]:
data_user = []
for unit in df_user.Unit.unique():
    df_unit = df_user[df_user.Unit == unit].copy()
    value_date = np.full(shape=len(df_unit), fill_value=date.today() - timedelta(days=80))
    value_date = np.array([ day + timedelta(days=nums) for nums, day in enumerate(value_date)])
    df_unit['Timestamp'] = value_date
    data_user.append(df_unit)

In [60]:
def add_days(data, day_start):
    all_data = []
    for unit in data.Unit.unique():
        df_unit = data[data.Unit == unit].copy()
        value_date = np.full(shape=len(df_unit), fill_value=day_start)
        value_date = np.array([ day + timedelta(days=nums) for nums, day in enumerate(value_date)])
        df_unit['Timestamp'] = value_date
        all_data.append(df_unit)
    
    all_data = pd.concat(all_data).reset_index(drop=True)
    return all_data

In [54]:
data_user = pd.concat(data_user).reset_index(drop=True)

In [59]:
data_user[data_user.Unit == 200].tail()

,Unit,Timestep,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21,Timestamp
4843,200,223,42.0047,0.8415,100.0,445.00,550.50,1364.79,1140.95,3.91,...,2388.49,8118.69,9.4247,0.02,336,2212,100.0,10.48,6.2539,2023-09-09
4844,200,224,20.0030,0.7011,100.0,491.19,608.29,1496.33,1270.24,9.35,...,2388.44,8094.60,9.2891,0.03,369,2324,100.0,24.24,14.4803,2023-09-10
4845,200,225,10.0066,0.2512,100.0,489.05,605.23,1514.32,1331.20,10.52,...,2388.35,8156.97,8.7224,0.03,373,2319,100.0,28.15,16.8803,2023-09-11
4846,200,226,20.0078,0.7018,100.0,491.19,608.57,1496.14,1273.54,9.35,...,2388.49,8093.41,9.3098,0.03,369,2324,100.0,24.23,14.6489,2023-09-12
4847,200,227,42.0008,0.8407,100.0,445.00,550.67,1371.42,1143.94,3.91,...,2388.46,8120.08,9.4332,0.02,335,2212,100.0,10.55,6.2166,2023-09-13

In [61]:
all_test.groupby(by='Unit').max()['Timestep']

Unit
176    164
177    181
178    148
179    181
180    297
      ...
256    163
257    309
258    143
259    205
260    316
Name: Timestep, Length: 85, dtype: int64

In [63]:
data_user.to_csv("data_user.csv", index=False)

In [64]:
data_user.Unit.nunique()

48

In [3]:
date_now = date.today()
date_now

datetime.date(2023, 4, 22)

In [17]:
date_now = date.today() - timedelta(days=81)
date_now

datetime.date(2023, 1, 31)

In [18]:
file = open('date_now.txt', 'w')
file.write(date_now.strftime("%Y-%m-%d"))
file.close()

In [22]:
file = open('date_now.txt', 'r')
get_day = file.readline()

In [23]:
get_day

'2023-01-31'

In [48]:
num_inc = 1
with open('date_now.txt', 'r') as file:
    get_day = file.readline()
    file.close()
get_day

'2023-01-31'

In [46]:
date_now = datetime.strptime(get_day, '%Y-%m-%d').date()

if num_inc <= 0: 
    date_now -= timedelta(days=abs(num_inc))
else:
    date_now += timedelta(days=abs(num_inc))
    
date_now

datetime.date(2023, 2, 1)

In [49]:
with open('date_now.txt', 'w') as file:
    file.write(date_now.strftime("%Y-%m-%d"))
    file.close()

In [50]:
def increase_day(num_inc = 1):
    with open('date_now.txt', 'r') as file:
        get_day = file.readline()
        file.close()
        
    date_now = datetime.strptime(get_day, '%Y-%m-%d').date()
    if num_inc <= 0: 
        date_now -= timedelta(days=abs(num_inc))
    else:
        date_now += timedelta(days=abs(num_inc))      
        
    with open('date_now.txt', 'w') as file:
        file.write(date_now.strftime("%Y-%m-%d"))
        file.close()

In [53]:
increase_day(-2)

In [36]:
from datetime import datetime

datetime_str = '09/19/22'
datetime_object = datetime.strptime(datetime_str, '%m/%d/%y')

In [37]:
datetime_object

datetime.datetime(2022, 9, 19, 0, 0)

In [62]:
df_user = pd.read_csv('data_user.csv')

In [63]:
df_user.head()

,Unit,Timestep,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21,Timestamp
0,176,1,42.0003,0.8400,100.0,445.00,549.37,1345.94,1128.55,3.91,...,2387.95,8082.22,9.3796,0.02,331,2212,100.00,10.76,6.3382,2023-01-30
1,176,2,0.0021,0.0000,100.0,518.67,642.25,1583.77,1402.43,14.62,...,2388.12,8138.43,8.4156,0.03,394,2388,100.00,39.06,23.3051,2023-01-31
2,176,3,25.0002,0.6212,60.0,462.54,537.03,1265.74,1043.04,7.05,...,2028.26,7874.99,10.8821,0.02,306,1915,84.93,14.41,8.7017,2023-02-01
3,176,4,41.9994,0.8400,100.0,445.00,549.93,1350.62,1131.21,3.91,...,2387.97,8090.01,9.3628,0.02,330,2212,100.00,10.49,6.2807,2023-02-02
4,176,5,34.9998,0.8400,100.0,449.44,555.71,1371.53,1130.00,5.48,...,2388.04,8071.90,9.2974,0.02,334,2223,100.00,14.82,8.9769,2023-02-03

In [64]:
len(df_user)

9420

In [66]:
len(np.full(len(df_user), 1))

9420

In [67]:
df_user['is_user'] = np.full(len(df_user), 1)

In [68]:
df_user.head()

,Unit,Timestep,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21,Timestamp,is_user
0,176,1,42.0003,0.8400,100.0,445.00,549.37,1345.94,1128.55,3.91,...,8082.22,9.3796,0.02,331,2212,100.00,10.76,6.3382,2023-01-30,1
1,176,2,0.0021,0.0000,100.0,518.67,642.25,1583.77,1402.43,14.62,...,8138.43,8.4156,0.03,394,2388,100.00,39.06,23.3051,2023-01-31,1
2,176,3,25.0002,0.6212,60.0,462.54,537.03,1265.74,1043.04,7.05,...,7874.99,10.8821,0.02,306,1915,84.93,14.41,8.7017,2023-02-01,1
3,176,4,41.9994,0.8400,100.0,445.00,549.93,1350.62,1131.21,3.91,...,8090.01,9.3628,0.02,330,2212,100.00,10.49,6.2807,2023-02-02,1
4,176,5,34.9998,0.8400,100.0,449.44,555.71,1371.53,1130.00,5.48,...,8071.90,9.2974,0.02,334,2223,100.00,14.82,8.9769,2023-02-03,1

In [69]:
df_user.to_csv("data_user.csv", index=False)