In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [13]:
test_data = pd.read_csv('test_FD002.txt', sep=' ', header=None,
                  names=['op_setting_1','op_setting_2','op_setting_3',
                        'sensor_1','sensor_2','sensor_3','sensor_4','sensor_5','sensor_6','sensor_7','sensor_8','sensor_9','sensor_10',
                        'sensor_11','sensor_12','sensor_13','sensor_14','sensor_15','sensor_16','sensor_17','sensor_18','sensor_19','sensor_20','sensor_21','sensor_22','sensor_23'])

test_data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 33991 entries, (1, 1) to (259, 123)
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   op_setting_1  33991 non-null  float64
 1   op_setting_2  33991 non-null  float64
 2   op_setting_3  33991 non-null  float64
 3   sensor_1      33991 non-null  float64
 4   sensor_2      33991 non-null  float64
 5   sensor_3      33991 non-null  float64
 6   sensor_4      33991 non-null  float64
 7   sensor_5      33991 non-null  float64
 8   sensor_6      33991 non-null  float64
 9   sensor_7      33991 non-null  float64
 10  sensor_8      33991 non-null  float64
 11  sensor_9      33991 non-null  float64
 12  sensor_10     33991 non-null  float64
 13  sensor_11     33991 non-null  float64
 14  sensor_12     33991 non-null  float64
 15  sensor_13     33991 non-null  float64
 16  sensor_14     33991 non-null  float64
 17  sensor_15     33991 non-null  float64
 18  sensor_16     33991 non-null  float64
 19  sensor_17     33991 non-null  int64
 20  sensor_18     33991 non-null  int64
 21  sensor_19     33991 non-null  float64
 22  sensor_20     33991 non-null  float64
 23  sensor_21     33991 non-null  float64
 24  sensor_22     0 non-null      float64
 25  sensor_23     0 non-null      float64
dtypes: float64(24), int64(2)
memory usage: 6.9 MB

In [14]:
## train
test_data.drop(['sensor_22','sensor_23'], axis=1, inplace=True)
test_data.reset_index(inplace=True)
test_data.rename(columns={'level_0':'id', 'level_1':'time'}, inplace=True)
test_data.head()

,id,time,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,1,1,9.9987,0.2502,100.0,489.05,605.03,1497.17,1304.99,10.52,...,371.69,2388.18,8114.10,8.6476,0.03,369,2319,100.00,28.42,17.1551
1,1,2,20.0026,0.7000,100.0,491.19,607.82,1481.20,1246.11,9.35,...,315.32,2388.12,8053.06,9.2405,0.02,364,2324,100.00,24.29,14.8039
2,1,3,35.0045,0.8400,100.0,449.44,556.00,1359.08,1128.36,5.48,...,183.04,2387.75,8053.04,9.3472,0.02,333,2223,100.00,14.98,8.9125
3,1,4,42.0066,0.8410,100.0,445.00,550.17,1349.69,1127.89,3.91,...,130.40,2387.72,8066.90,9.3961,0.02,332,2212,100.00,10.35,6.4181
4,1,5,24.9985,0.6213,60.0,462.54,536.72,1253.18,1050.69,7.05,...,164.56,2028.05,7865.66,10.8682,0.02,305,1915,84.93,14.31,8.5740

In [15]:
test_data.rename(columns={"id":"machine_id","time":"time_stamp"}, inplace =True)

In [21]:
gen_data = test_data[(test_data.machine_id > 175) & (test_data.machine_id < 180)].reset_index(drop=True)

In [22]:
gen_data

,machine_id,time_stamp,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,176,1,42.0011,0.8400,100.0,445.00,548.91,1338.59,1115.33,3.91,...,131.04,2387.98,8084.29,9.3464,0.02,329,2212,100.0,10.70,6.3151
1,176,2,42.0002,0.8400,100.0,445.00,549.43,1352.45,1121.42,3.91,...,130.53,2388.06,8087.70,9.2961,0.02,329,2212,100.0,10.63,6.3091
2,176,3,0.0018,0.0010,100.0,518.67,642.43,1580.82,1397.15,14.62,...,522.95,2387.96,8140.28,8.3613,0.03,390,2388,100.0,39.06,23.4366
3,176,4,42.0049,0.8401,100.0,445.00,549.07,1354.67,1118.76,3.91,...,130.42,2388.03,8080.82,9.3464,0.02,329,2212,100.0,10.73,6.3210
4,176,5,42.0058,0.8410,100.0,445.00,549.37,1346.95,1119.82,3.91,...,130.87,2388.04,8091.32,9.3336,0.02,329,2212,100.0,10.53,6.3508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,179,152,0.0002,0.0000,100.0,518.67,642.70,1590.06,1415.95,14.62,...,520.25,2388.28,8114.92,8.4593,0.03,394,2388,100.0,38.68,23.3134
597,179,153,42.0068,0.8419,100.0,445.00,549.56,1354.38,1134.93,3.91,...,130.06,2387.55,8068.38,9.4046,0.02,333,2212,100.0,10.51,6.2685
598,179,154,42.0007,0.8417,100.0,445.00,549.36,1352.08,1131.35,3.91,...,130.77,2387.52,8064.78,9.4095,0.02,332,2212,100.0,10.45,6.3578
599,179,155,41.9996,0.8401,100.0,445.00,549.80,1357.98,1135.31,3.91,...,130.51,2387.49,8062.59,9.4131,0.02,331,2212,100.0,10.53,6.2334
600,179,156,35.0052,0.8400,100.0,449.44,556.16,1365.29,1138.19,5.48,...,182.56,2387.63,8049.39,9.3710,0.02,335,2223,100.0,15.00,8.7343

In [23]:
gen_data.to_csv("machineProcessed.csv", index=False)